<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ferramenta.nome }} - MundoKaizo</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ferramentas/css/detail.css' %}">
</head>
<body>

    <a href="{% url 'ferramentas_index' %}" class="btn-fechar" title="Sair da Ferramenta">
        <i class="fa-solid fa-xmark"></i>
    </a>

    <div class="loading-text" id="loadingText"><i class="fa-solid fa-spinner fa-spin"></i> A carregar {{ ferramenta.nome }}...</div>
    
    <iframe 
        src="{{ ferramenta.url_ferramenta }}" 
        class="tool-iframe"
        allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        onload="document.getElementById('loadingText').style.display = 'none';">
    </iframe>

</body>
</html>
